<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.AdminMapper">
	<!-- 로그인 -->
	<select id="selectLoginAdmin" parameterType="com.gdu.cashbook.vo.LoginAdmin" resultType="com.gdu.cashbook.vo.LoginAdmin">
		SELECT
			admin_id AS adminId
		FROM admin
		WHERE admin_id = #{adminId}
		AND admin_pw = PASSWORD(#{adminPw})
	</select>
	<!-- 게시글 출력(모든회원 게시글 확인) -->
	<select id="selectQnaboardListAll" parameterType="java.util.Map" resultType="com.gdu.cashbook.vo.Qnaboard">
		SELECT
			  qnaboard_no AS qnaboardNo
			, member_id AS memberId
			, qnaboard_title AS qnaboardTitle
			, qnaboard_content AS qnaboardContent
			, DATE_FORMAT(qnaboard_date, '%Y-%m-%d') AS qnaboardDate
		FROM qnaboard 
		WHERE qnaboard_title LIKE CONCAT('%',#{searchWord},'%')
		ORDER BY qnaboard_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<!-- 작성된 게시물 총 개수 -->
	<select id="selectQnaboardCount" resultType="int">
		SELECT
			COUNT(*)
		FROM qnaboard
	</select>
	<!-- 회원 목록(모든회원 조회) -->
	<select id="selectMemberListAll" parameterType="java.util.Map" resultType="com.gdu.cashbook.vo.Member">
		SELECT
			member_id    AS memberId,
			member_name  AS memberName
		FROM member
		WHERE member_id LIKE CONCAT('%',#{searchWord},'%')
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<!-- 전체 회원 수 -->
	<select id="selectMemberCount" resultType="int">
		SELECT 
			COUNT(*)
		FROM member
	</select>
	<!-- 회원 정보 확인 -->
	<select id="selectMemberOne" parameterType="String" resultType="com.gdu.cashbook.vo.Member">
		SELECT
			member_id    AS memberId,
			member_name  AS memberName,
			member_addr  AS memberAddr,
			member_phone AS memberPhone,
			member_email AS memberEmail,
			member_pic AS memberPic
		FROM member
		WHERE member_id = #{memberId}
	</select>
</mapper>