<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.CashMapper">
	<!-- 로그인 회원의 오늘 날짜 cash 목록 -->
	<select id="selectCashListByToday" parameterType="com.gdu.cashbook.vo.Cash" resultType="com.gdu.cashbook.vo.Cash">
		SELECT
			cash_no       AS cashNo,
			category_name AS categoryName,
			cash_kind     AS cashKind,
			cash_price    AS cashPrice,
			cash_place    AS cashPlace,
			cash_memo     AS cashMemo
		FROM cash
		WHERE member_id = #{memberId}
		AND   cash_date = #{cashDate}
		ORDER BY cash_no ASC
	</select>
	<!-- 가계부 내용 삭제 -->
	<delete id="removeCash" parameterType="int">
		DELETE
		FROM cash 
		WHERE cash_no = #{cashNo}
	</delete>
	<!-- 금액 합계 (일별 가계부 관리) -->
	<select id="selectCashKindSum" parameterType="com.gdu.cashbook.vo.Cash" resultType="int">
		SELECT
			(SELECT IFNULL(SUM(cash_price) ,'0')
			 FROM cash
			 WHERE member_id = #{memberId} 
			 AND   cash_kind = '수입'
			 AND   cash_date = #{cashDate})
			-
			(SELECT IFNULL(SUM(cash_price) ,'0') 
			 FROM cash
			 WHERE member_id = #{memberId}
			 AND   cash_kind = '지출'
			 AND   cash_date = #{cashDate})
		FROM dual
	</select>
	<!-- 일별 합계(월별 가계부 관리) -->
	<select id="selectDayAndPriceList" parameterType="java.util.Map" resultType="com.gdu.cashbook.vo.DayAndPrice">
		SELECT DAY(cash_date) AS day,
			   SUM(CASE WHEN cash_kind='수입' THEN cash_price
						WHEN cash_kind='지출' THEN -cash_price END) AS price
		FROM cash
		WHERE member_id = #{memberId}
		AND  YEAR(cash_date) = #{year}
		AND MONTH(cash_date) = #{month}
		GROUP BY DAY(cash_date)
	</select>
	<!-- 가계부 추가 -->
	<insert id="addCash" parameterType="com.gdu.cashbook.vo.Cash">
		INSERT INTO cash(
			member_id,
			cash_date,
			cash_kind,
			category_name,
			cash_price,
			cash_place,
			cash_memo
		) VALUES(
			#{memberId},
			#{cashDate},
			#{cashKind},
			#{categoryName},
			#{cashPrice},
			#{cashPlace},
			#{cashMemo}
		)
	</insert>
	<!-- 가계부 수정 -->
	<update id="modifyCash" parameterType="com.gdu.cashbook.vo.Cash">
		UPDATE cash
		SET cash_kind  = #{cashKind},
			category_name  = #{categoryName},
			cash_price = #{cashPrice},
			cash_place   = #{cashPlace},
			cash_memo = #{cashMemo}
		WHERE member_id  = #{memberId}
	</update>
</mapper>