<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.MemberMapper">
	<!-- 아이디 중복체크 -->
	<select id="selectMemberId" parameterType="String" resultType="String">
		SELECT
			mi
		FROM ( SELECT member_id AS mi 
			   FROM member 
			   UNION
			   SELECT memberid as mi 
			   FROM memberid ) t
		WHERE mi = #{memberIdCheck}
	</select>
	<!-- 회원 가입 -->
	<insert id="insertMember" parameterType="com.gdu.cashbook.vo.Member">
		INSERT INTO member(
				member_id, 
				member_pw, 
				member_name, 
				member_addr, 
				member_phone, 
				member_email
			) 
			VALUES(
				#{memberId}, 
				PASSWORD(#{memberPw}), <!-- 암호화 -->
				#{memberName}, 
				#{memberAddr}, 
				#{memberPhone}, 
				#{memberEmail}
			)
	</insert>
	<!-- 로그인 -->
	<select id="selectLoginMember" parameterType="com.gdu.cashbook.vo.LoginMember" resultType="com.gdu.cashbook.vo.LoginMember">
		SELECT
			member_id AS memberId
		FROM member
		WHERE member_id = #{memberId}
		AND member_pw = PASSWORD(#{memberPw})
	</select>
	<!-- 회원 정보 -->
	<select id="selectMemberOne" parameterType="com.gdu.cashbook.vo.LoginMember" resultType="com.gdu.cashbook.vo.Member">
		SELECT
			member_id    AS memberId,
			member_pw    AS memberPw,
			member_name  AS memberName,
			member_addr  AS memberAddr,
			member_phone AS memberPhone,
			member_email AS memberEmail
		FROM member
		WHERE member_id = #{memberId}
	</select>
	<!-- 회원 탈퇴 -->
	<delete id="deleteMember" parameterType="com.gdu.cashbook.vo.LoginMember">
		DELETE
		FROM member
		WHERE member_id = #{memberId}
	</delete>
	<!-- 회원탈퇴 시 정보 확인 -->
	<select id="deleteMemberPwChack" parameterType="com.gdu.cashbook.vo.Member" resultType="int">
		SELECT COUNT(*)
			FROM member
		WHERE member_id = #{memberId} 
		AND   member_pw = PASSWORD(#{memberPw})
	</select>
	<!-- 회원정보 수정 -->
	<update id="updateMember" parameterType="com.gdu.cashbook.vo.Member">
		UPDATE member
		SET member_name  = #{memberName},
			member_addr  = #{memberAddr},
			member_phone = #{memberPhone},
			member_email = #{memberEmail}
		WHERE member_id  = #{memberId}
	</update>
</mapper>