<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.QnaboardMapper">
	<!-- 게시물 출력 -->
	<select id="selectQnaboardListAll" parameterType="java.util.Map" resultType="com.gdu.cashbook.vo.Qnaboard">
		SELECT
			  qnaboard_no AS qnaboardNo
			, member_id AS memberId
			, qnaboard_title AS qnaboardTitle
			, qnaboard_content AS qnaboardContent
			, DATE_FORMAT(qnaboard_date, '%Y-%m-%d') AS qnaboardDate
		FROM qnaboard 
		WHERE member_id = #{memberId}
		ORDER BY qnaboard_no DESC
		LIMIT #{beginRow},#{rowPerPage}
	</select>
	<!-- 게시물 총 개수 -->
	<select id="selectQnaboardCount" parameterType="String" resultType="int">
		SELECT
			COUNT(*)
		FROM qnaboard
		WHERE member_id = #{memberId}
	</select>
	<!-- 게시물 입력 -->
	<insert id="insestQnaboard" parameterType="com.gdu.cashbook.vo.Qnaboard">
		INSERT INTO qnaboard(
			member_id,
			qnaboard_title,
			qnaboard_content,
			qnaboard_date
		) VALUES(
			#{memberId},
			#{qnaboardTitle},
			#{qnaboardContent},
			NOW()
		) 
	</insert>
	<!-- 게시물 상세보기 -->
	<select id="selectQnaboardListOne" parameterType="java.util.Map" resultType="com.gdu.cashbook.vo.Qnaboard">
		SELECT
		  qnaboard_no AS qnaboardNo
		, member_id AS memberId
		, qnaboard_title AS qnaboardTitle
		, qnaboard_content AS qnaboardContent
		, DATE_FORMAT(qnaboard_date, '%Y-%m-%d') AS qnaboardDate
		FROM qnaboard 
		WHERE qnaboard_no = #{qnaboardNo}
		AND   member_id    = #{memberId}
	</select>
	<!-- 마지막 게시물 번호 조회 (회원용) -->
	<select id="selectQnaboardNoMax" parameterType="String" resultType="int">
		SELECT
			MAX(qnaboard_no)
		FROM qnaboard
		WHERE member_id = #{memberId}
	</select>
	<!-- 처음 게시물 번호 조회 (회원용)-->
	<select id="selectQnaboardNoMin" parameterType="String" resultType="int">
		SELECT 
			MIN(qnaboard_no)
		FROM qnaboard
		WHERE member_id = #{memberId}
	</select>
	<!-- 다음 게시물 번호 조회 (회원용)-->
	<select id="selectQnaboardNoNext" parameterType="java.util.Map" resultType="int">
		SELECT IFNULL(MIN(qnaboard_no),#{qnaboardNo})
		FROM qnaboard
		WHERE qnaboard_no &gt; #{qnaboardNo}
		AND   member_id = #{memberId}
	</select>
	<!-- 이전 게시물 번호 조회 (회원용)-->
	<select id="selectQnaboardNoPrevious" parameterType="java.util.Map" resultType="int">
		SELECT IFNULL(MAX(qnaboard_no),#{qnaboardNo})
		FROM qnaboard
		WHERE qnaboard_no &lt; #{qnaboardNo}
		AND   member_id = #{memberId}
	</select>
	<!-- 게시글 삭제 -->
	<delete id="deleteQnaboard" parameterType="int">
		DELETE 
		FROM qnaboard
		WHERE qnaboard_no = #{qnaboardNo}
	</delete>
	<!-- 게시글 수정 -->
	<update id="updateQnaboard" parameterType="com.gdu.cashbook.vo.Qnaboard">
		UPDATE qnaboard
		SET qnaboard_title    = #{qnaboardTitle},
			qnaboard_content  = #{qnaboardContent}
		WHERE qnaboard_no = #{qnaboardNo}
		AND member_id     = #{memberId}
	</update>
	<!-- 회원탈퇴시 게시글 삭제 -->
	<delete id="memberMeleteQnaboard" parameterType="String">
		DELETE 
		FROM qnaboard
		WHERE member_id = #{memberId}
	</delete>
	<!-- 게시글 번호로 회원 아이디 출력(관리자모드일 때 memberId 찾기위해서) -->
	<select id="selectMemberId" parameterType="int" resultType="String">
		SELECT
			member_id
		FROM qnaboard
		where qnaboard_no = #{qnaboardNo}
	</select>
	<!-- 마지막 게시물 번호 조회 (관리자용) -->
	<select id="selectAdminQnaboardNoMax" resultType="int">
		SELECT
			MAX(qnaboard_no)
		FROM qnaboard
	</select>
	<!-- 처음 게시물 번호 조회 (관리자용)-->
	<select id="selectAdminQnaboardNoMin" resultType="int">
		SELECT 
			MIN(qnaboard_no)
		FROM qnaboard
	</select>
	<!-- 다음 게시물 번호 조회 (관리자용)-->
	<select id="selectAdminQnaboardNoNext" parameterType="int" resultType="int">
		SELECT IFNULL(MIN(qnaboard_no),#{qnaboardNo})
		FROM qnaboard
		WHERE qnaboard_no &gt; #{qnaboardNo}
	</select>
	<!-- 이전 게시물 번호 조회 (관리자용)-->
	<select id="selectAdminQnaboardNoPrevious" parameterType="int" resultType="int">
		SELECT IFNULL(MAX(qnaboard_no),#{qnaboardNo})
		FROM qnaboard
		WHERE qnaboard_no &lt; #{qnaboardNo}
	</select>
</mapper>